<div class="row">
 <div class="container-fluid">
   <div class="col-md-12">

               <center><h1> <strong>Pradhan Mantri Fasal Bima Yojana</strong> </h1>
              <img src="/assets/crop insurance.jpg" style="width: 50%">
              </center>
              <br>
          
         
             
                    <div class="container" style="padding-top:15px;padding-bottom:15px;padding-left: 30px;padding-right:30px; margin-top:25px;margin-bottom: 30px; ">
                    
                    <p>In the <strong>Pradhan Mantri Fasal Bima Yojana (Prime Minister Crop Insurance Scheme)</strong> launched by <strong>Honourable Prime Minister Shri Narendra Modi </strong>on 13th January 2016 the premium rates to be paid by the farmers have been brought down substantially 
                    so as to enable more farmers avail insurance cover against crop loss on account of natural calamities. <br><br>
<strong>Under the new scheme,</strong> farmers will have to pay a uniform premium of two per cent for all kharif crops and 1.5 per cent for all rabi crops. For annual commercial and horticultural crops, farmers will have to pay a premium of 5 per cent. The remaining share of the premium, as in previous schemes, will continue to be borne equally by the Centre and the respective state governments.<br><br>
                  <strong>To apply for insurance under Pradhan Mantri Fasal Bima Yojana , Click on Apply :
                  <a href="http://agri-insurance.gov.in/Login.aspx" style="color: black"><h3><center> Apply </center></h3></a></strong>
                  </p>
  
                    </div>  
            
        </div>
    </div>
</div>