<center>
 <div class="row">
    <br><br>
     <div class="col-md-12">
            <div class="col-md-3">
              <a href="sowing.html"><img src="/assets/sowing.jpg" class="img-thumbnail" width="70%"></a>
              <h4>Sowing</h4>
            </div>
            <div class="col-md-3">
              <a href="ploughing.html"><img src="/assets/ploughing.jpg" class="img-thumbnail" width="70%"></a>
              <h4>Ploughing</h4>
            </div>
      
            <div class="col-md-3">
             <a href="irrigation.html"> <img src="/assets/irrigation.jpg" class="img-thumbnail" width="70%"></a>
              <h4>Irrigation</h4>
            </div>
             <div class="col-md-3">
              <a href="bullockcarts.html"><img src="/assets/bullockcarts.jpg" class="img-thumbnail" width="70%"></a>
              <h4>Rent bullockcarts</h4>
            </div>
          </div>
  </div>
      <br>
      <div class="row">
          <div class="col-md-12">
              <div class="col-md-3">
                <a href="harvesting.html"><img src="/assets/harvesting.jpg" class="img-thumbnail" width="70%"></a>
                <h4>Harvesting</h4>
              </div>
              <div class="col-md-3">
                <img src="/assets/animalinsurance.jpg" class="img-thumbnail" width="70%">
                <h4>Animal Insurance</h4>
              </div>
              <div class="col-md-3">
                <a href="cropinsurance.html"><img src="/assets/crop insurance.jpg" class="img-thumbnail" width="80%" ></a>
                <h4>Crop insurance</h4>
              </div>
      </div>
      </div>

</center>