<center>
 <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <a href="#"><img src="assets/seed3.jpg" class="img-thumbnail" width=50%></a>
        <h4>Seeds</h4>
      </div>
      <div class="col-md-6">
        <a href="#"><img src="assets/fertiliser1.jpg" class="img-thumbnail" width=50%></a>
        <h4>Fertilisers</h4>
      </div>
      </div>
      
      <div class="row">
      <div class="col-md-6">
       <a href="#"> <img src="assets/tool2.jpg" class="img-thumbnail" width=50%></a>
        <h4>Tools</h4>
      </div>
      <div class="col-md-6">
       <a href="#"> <img src="assets/produce1.jpg" class="img-thumbnail" width=50%></a>
        <h4>Produce</h4>
      </div>
      </div>
    </div>
</center>
