<center>
 <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <img src="assets/sowing.jpg" class="img-thumbnail" width="70%">
        <h4>Sowing</h4>
      </div>
      <div class="col-md-3">
        <img src="assets/ploughing.jpg" class="img-thumbnail" width="70%">
        <h4>Ploughing</h4>
      </div>
      
      <div class="col-md-3">
        <img src="assets/irrigation.jpg" class="img-thumbnail" width="70%">
        <h4>Irrigation</h4>
      </div>
       <div class="col-md-3">
        <img src="assets/bullockcarts.jpg" class="img-thumbnail" width="70%">
        <h4>Rent bullockcarts</h4>
      </div>
      </div>
      
      <div class="row">
      <div class="col-md-3">
        <br><img src="assets/harvesting.jpg" class="img-thumbnail" width="70%">
        <h4>Harvesting</h4>
      </div>
      <div class="col-md-3">
       <br> <img src="assets/animalinsurance.jpg" class="img-thumbnail" width="70%">
        <h4>Animal Insurance</h4>
      </div>
      <div class="col-md-3">
        <br><br><img src="assets/crop insurance.jpg" class="img-thumbnail" width="80%" >
        <h4>Crop insurance</h4>
      </div>
      </div>
    </div>
    </center>
