<center> 
 <div class="row">
   <div class="col-md-12">  <br> 
         
   <div class="col-md-6"> 
           <a href="seeds.html"><img src="/assets/seed3.jpg" class="img-thumbnail" width="35%"></a>       
             <h4>Seeds</h4>
    </div>      
     <div class="col-md-6">       
       <a href="fertiliserfinal.html"><img src="/assets/fertiliser1.jpg" class="img-thumbnail" width=33%></a>
        <h4>Fertilisers</h4>     
      </div>   
      </div>
      
      <br>

      <div class="row">
      <div class="col-md-6">
       <a href="toolfinal.html"> <img src="/assets/tool2.jpg" class="img-thumbnail" width=33%></a>
        <h4>Tools</h4>
      </div>
      <div class="col-md-6">
       <a href="produce.html"> <img src="/assets/produce1.jpg" class="img-thumbnail" width=37%></a>
        <h4>Produce</h4>
      </div>
      </div>
    
    </div><br>
    </center>