   
		<center>
			<div class="carousel slide" id="carousel-527073">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-527073">
					</li>
					<li data-slide-to="1" data-target="#carousel-527073">
					</li>
					<li data-slide-to="2" data-target="#carousel-527073">
					</li>
				</ol>
				<div class="carousel-inner">
				
					<div class="item active">
						
						<img alt="Carousel Bootstrap First" src="/assets/b3.jpg" width="650px" >
						
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Second" src="/assets/b4.jpg" width="650px">
						
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Third" src="/assets/b6.jpg" width="650px" >
						
					</div>
				</div> 
				<a class="left carousel-control" href="#carousel-527073" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span></a> 
					<a class="right carousel-control" href="#carousel-527073" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</center>